<!DOCTYPE html>
<html lang="en-US"
    class="theme-color-e8676b light_skin cssall cssgradients rgba opacity supports textshadow cssanimations bgrepeatround bgrepeatspace boxshadow csstransforms csstransforms3d csstransitions theme-skin-ligth">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="assets/ico.png">
    <title>Agus Firman - CV & Portfolio</title>

    <link rel='stylesheet' href='assets/css/style1.css' type='text/css' media='all' />
    <link rel='stylesheet' href='assets/css/style.css' type='text/css' media='all' /> 
    <link rel='stylesheet' href='assets/css/css2.css' type=' text/css' media='all' />
    <link rel='stylesheet' href='assets/css/slick.css' type='text/css' media='all' />
    <link rel='stylesheet' href='assets/css/awwwards.css' type='text/css' media='all' />
    <link rel='stylesheet' href='assets/css/option-panel.css' type='text/css' media='all' />
    <link rel='stylesheet' href='assets/css/css.css' type=' text/css' media='all' />
    <link rel='stylesheet' href='assets/css/theme-color.css' type='text/css' media='all' />

    <script type='text/javascript' src='assets/js/modernizr.js'></script>

</head>

<body
    class="home page-template page-template-page-home page-template-page-home-php page page-id-310 woocommerce-no-js header-has-img  masthead-fixed loading">

    <div class="mobile-nav">

        <button class="btn-mobile mobile-nav-close">
            <i class="rsicon rsicon-close"></i>
        </button>
        <div id="mobile-nav" class="mobile-nav-inner">
            <nav class="nav">
                <ul class="clearfix">
                    <li id="menu-item-468"
                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
                        <a href="http://localhost/agus.firman/#about">About</a>
                    </li>
                    <li id="menu-item-469"
                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
                        <a href="http://localhost/agus.firman/#skills">Skills</a>
                    </li>
                    <li id="menu-item-470"
                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
                        <a href="http://localhost/agus.firman/#project">Project</a>
                    </li>
                    <li id="menu-item-470"
                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
                        <a href="http://localhost/agus.firman/#experience">Work Experience</a>
                    </li>
                    <li id="menu-item-472"
                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
                        <a href="http://localhost/agus.firman/#contact">Education</a>
                    </li>
                    <li id="menu-item-472"
                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
                        <a href="http://localhost/agus.firman/#contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="wrapper" id="app">
        <header class="header">
            <div class="head-bg" style="background-image: url('assets/uploads/rs-cover-2-2-1-1.jpg')">
            </div>
            <div class="head-bar has-woo has-sidebar head-sticky-classic">
                <div class="head-bar-inner">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-xs-6">
                            <a class="logo" href="http://localhost/agus.firman/">
                                <span>Agus Firman</span>
                            </a>
                        </div>
                        <div class="col-lg-10 col-md-9 col-xs-6">
                            <div class="head-cont clearfix">
                                <button class="btn-mobile btn-mobile-nav">Main</button>
                                <div id="head-nav" class="head-nav">
                                    <nav class="nav">
                                        <ul class="clearfix">
                                            <li id="menu-item-468"
                                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
                                                <a href="http://localhost/agus.firman/#about">About</a>
                                            </li>
                                            <li id="menu-item-469"
                                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
                                                <a href="http://localhost/agus.firman/#skills">Skills</a>
                                            </li>
                                            <li id="menu-item-470"
                                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
                                                <a href="http://localhost/agus.firman/#project">Project</a>
                                            </li>
                                            <li id="menu-item-470"
                                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
                                                <a href="http://localhost/agus.firman/#experience">Work Experience</a>
                                            </li>
                                            <li id="menu-item-470"
                                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
                                                <a href="http://localhost/agus.firman/#education">Education</a>
                                            </li>
                                            <li id="menu-item-470"
                                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
                                                <a href="http://localhost/agus.firman/#contact">Contact</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="content">
            <div class="container">

                <!-- Profile Section -->
                <section id="about" class="section section-about">
                    <div class="animate-up">
                        <div class="section-box">
                            <div class="profile">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="profile-photo">
                                            <img alt="" src="assets/uploads/21.34.45.jpeg" class="photo">
                                            <img alt="" src="assets/uploads/21.34.46.jpeg" class="photo-hover">
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="profile-info">
                                            <div class="profile-items clearfix">
                                                <div class="profile-preword">
                                                    <span>Assalamu'alaikum</span>
                                                </div>
                                            </div>
                                            <h1 class="profile-title">
                                                <span>I&#039;m <b>{{ profile.name}}</b> </span>
                                            </h1>
                                            <h2 class="profile-position">

                                            </h2>
                                        </div>
                                        <ul class="profile-list">

                                            <li class="clearfix">
                                                <strong class="title">Age</strong>
                                                <span class="cont">{{ profile.birthdate | getAge }}</span>
                                            </li>
                                            <li class="clearfix">
                                                <strong class="title">E-mail</strong>
                                                <span class="cont">{{ profile.email }}</span>
                                            </li>
                                            <li class="clearfix">
                                                <strong class="title">Phone</strong>
                                                <span class="cont">{{ profile.phone }}</span>
                                            </li>
                                            <li class="clearfix">
                                                <strong class="title">Address</strong>
                                                <span class="cont">
                                                    {{ profile.address }}
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-social">
                                <ul class="social">
                                    <li>
                                        <a href="#" target="_blank">
                                            <span class="rsicon rsicon-twitter"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://wwww.facebook.com/agus.firman91" target="_blank">
                                            <i class="rsicon rsicon-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="rsicon rsicon-dribbble"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="rsicon rsicon-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="rsicon rsicon-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="rsicon rsicon-google-plus"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="section-txt-btn">
                            <p>
                                <a class="btn btn-lg btn-border ripple" target="_blank" v-bind:href="profile.linkcv">
                                    Download Resume
                                </a>
                            </p>
                            <br>
                            <span v-html="profile.qoute">
                                {{ profile.qoute }}
                            </span>
                            </p>
                        </div>
                    </div>
                </section>
                <!-- Profile Section End -->

                <!-- Skill Section -->
                <section id="skills" class="section section-skills">
                    <div class="animate-up">
                        <h2 class="section-title">Professional Skills</h2>
                        <div class="section-box">
                            <div class="row">
                                <div class="col-md-6" v-for="(item, index) in skillItems">
                                    <div class="progress-bar">
                                        <div class="bar-data">
                                            <span class="bar-title">
                                                {{ item.title }}
                                                <span class="alignright">
                                                    [ {{ item.percentase }}]</span>
                                            </span>
                                        </div>
                                        <div class="bar-line">
                                            <span class="bar-fill" v-bind:data-width="item.percentase"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Skill Section End -->


                <!-- Project Section -->
                <section id="project" class="section section-services text-left">
                    <div class="animate-up">
                        <h2 class="section-title">Our Project</h2>
                        <div class="section-box">
                            <div class="row">
                                <project v-for="item in projectItems" :name="item.name" :image="item.image"
                                    :description="item.description" :link="item.link"></project>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Project Section End -->

                <!-- Experience Section -->
                <section id="experience" class="section section-experience">
                    <div class="animate-up">
                        <h2 class="section-title">Work Experience</h2>
                        <div class="timeline">
                            <div class="timeline-bar"></div>
                            <div class="timeline-inner clearfix">
                                <work-experience v-for="exItem in experienceItems" v-bind:company="exItem.company"
                                    v-bind:title="exItem.title" v-bind:description="exItem.description"
                                    v-bind:start="exItem.start" v-bind:end="exItem.end" v-bind:logo="exItem.logo">
                                </work-experience>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Experience Section End -->


                <!-- Education Section -->
                <section id="education" class="section section-education">
                    <div class="animate-up">
                        <h2 class="section-title">Education</h2>
                        <div class="timeline">
                            <div class="timeline-bar"></div>
                            <div class="timeline-inner clearfix">
                                <education v-for="item in educactionItems" :institute="item.institute"
                                    :subject="item.subject" :start-end="item.startEnd"></education>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Education Section End -->

                <!-- Contact Section -->
                <section id="contact" class="section section-contact">
                    <div class="animate-up">
                        <h2 class="section-title">Contact Us</h2>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="section-box">
                                    <h3>Feel free to contact me</h3>
                                    <form action="#" method="get">
                                        <div class='input-field' v-bind:class="{'error':!form.name}">
                                            <input class='contact-name' type='text' v-model='form.name' />
                                            <span class='line'></span>
                                            <label>Name</label>
                                        </div>

                                        <div class='input-field' v-bind:class="{'error':!form.subject}">
                                            <input class='contact-subject' type='text' v-model='form.subject' />
                                            <span class='line'></span>
                                            <label>Subject</label>
                                        </div>

                                        <div class='input-field' v-bind:class="{'error':!form.nessage}">
                                            <textarea class='contact-message' rows='4'
                                                v-model='form.message'></textarea>
                                            <span class='line'></span>
                                            <label>Message</label>
                                        </div>
                                        <div class="check-field">
                                            <input type="checkbox" v-model="form.policy" id="policy">
                                            <label for="rsPivacyPolicy">I have read the Privacy Policy note.</label>
                                        </div><span class='btn-outer btn-primary-outer ripple'>
                                            <input class='contact-submit btn btn-lg btn-primary' type='submit'
                                                value='Send' @click="submitContact" />
                                        </span>

                                        <div class='contact-response'>
                                            <p v-if="errors.length">
                                                <ul class="error text-danger">
                                                    <li v-for="error in errors">{{ error }}</li>
                                                </ul>
                                            </p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="section-box contact-info has-map">
                                    <ul class="contact-list">
                                        <li class="clearfix">
                                            <strong>E-mail</strong>
                                            <span>
                                                <a href="mailto:firmanagus59@gmail.com">firmanagus59@gmail.com</a>
                                            </span>
                                        </li>
                                        <li class="clearfix">
                                            <strong>Phone</strong>
                                            <span>+62 859 450 71263</span>
                                        </li>
                                        <li class="clearfix">
                                            <strong>Address</strong>
                                            <span>Jl. H. Simun RT.1 RW.5, Srengseng Kec. Kembangan Kota Jakarta Barat
                                                Daerah Khusus Ibukota Jakarta 11630</span>
                                        </li>
                                    </ul>

                                    <div class="mb-2">
                                        <iframe
                                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.4365774891307!2d106.75532621390632!3d-6.206000862518089!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f73b1c513161%3A0x15d4dfd5bdd04d89!2sAgus%20Firman%2C%20Jl.%20H.%20Simun%20RT.1%20RW.5%2C%20Srengseng%2C%20Kec.%20Kembangan%2C%20Kota%20Jakarta%20Barat%2C%20Daerah%20Khusus%20Ibukota%20Jakarta%2011630!5e0!3m2!1sid!2sid!4v1605349663743!5m2!1sid!2sid"
                                            width="600" height="450" frameborder="0" style="border:0;"
                                            allowfullscreen="false" aria-hidden="true" tabindex="0"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Contact Section End -->

            </div>
        </div>

        <!-- Footer Section -->
        <footer class="footer">
            <div class="footer-social">
                <ul class="social">
                    <li><a href="https://twitter.com/_pxlab" target="_blank"><i class="rsicon rsicon-twitter"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/pxlaboratory/" target="_blank"><i
                                class="rsicon rsicon-facebook"></i></a></li>
                    <li><a href="https://dribbble.com/Px-Lab" target="_blank"><i class="rsicon rsicon-dribbble"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/" target="_blank"><i class="rsicon rsicon-linkedin"></i></a>
                    </li>
                    <li><a href="https://instagram.com/" target="_blank"><i class="rsicon rsicon-instagram"></i></a>
                    </li>
                    <li><a href="https://plus.google.com/" target="_blank"><i class="rsicon rsicon-google-plus"></i></a>
                    </li>
                </ul>
            </div>
        </footer>
        <!-- Footer Section End -->

    </div>

    <a href="#" class="btn-scroll-top">
        <i class="rsicon rsicon-arrow-up"></i>
    </a>


    <div id="overlay"></div>
    <div id="preloader">
        <div class="preload-icon"><span></span><span></span></div>
        <div class="preload-text"></div>
    </div>


    <script src="/assets/js/vue.js"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
    

    <script type='text/javascript' src='assets/js/jquery.js'></script>
    <script type='text/javascript' src='assets/js/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='assets/js/site.js'></script>
    <script type='text/javascript' src='assets/js/jquery.appear.js'></script>
    <script type='text/javascript' src='assets/js/slick.min.js'></script>
    <script type='text/javascript' src='assets/js/owl.carousel.js'></script>
    <script type='text/javascript' src='assets/js/jquery.onepagenav.min.js'></script>
    <script type='text/javascript' src='assets/js/jquery.mCustomScrollbar.concat.min.js'></script>
    <script type='text/javascript' src='assets/js/imagesloaded.min.js'></script>

    <script>
        Vue.component('button-counter', {
            data: function () {
                return {
                    count: 0
                }
            },
            template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
        })

        Vue.component('work-experience', {
            props: ['company', 'description', 'logo', 'title', 'start', 'end'],
            template: ` <div class="timeline-box ">
                            <span class="dot"></span>
                            <div class="timeline-box-inner ">
                                <span class="arrow"></span>
                                <div class="timeline-head">
                                    <h3>{{ company }} </h3>
                                    <div class="date">{{ start }} - {{ end }}</div>
                                    <a class="img" href="#">
                                        <img v-bind:src="logo" alt="logo">
                                        
                                    </a>
                                    <h4>{{ title }}</h4>
                                    
                                </div>
                                <p>
                                    {{ description }}
                                </p>
                            </div>
                        </div>`
        })

        Vue.component('education', {
            props: ['institute', 'startEnd', 'subject'],
            template: `<div class="timeline-box timeline-box-compact ">
                            <span class="dot"></span>
                            <div class="timeline-box-inner ">
                                <span class="arrow"></span>
                                <div class="date">{{ startEnd }}</div>
                                <h3>{{ subject }}</h3>
                                <img class="img" src="" alt="">
                                <h4>
                                    <a href="#">{{ institute }}</a>
                                </h4>
                            </div>
                        </div>`
        })

        Vue.component('project', {
            props: ['name', 'image', 'description', 'link'],
            template: `<div class="card col-md-4 col-sm-4 col-xs-12">
                        <div class="service">
                            <div class="service-icon"><i class="rsicon rsicon-paint-brush"></i></div>
                            <h4 class="service-title">{{ name }}</h4>
                            <img :src="image" alt="Image">
                            <div class="service-cont">
                                <hr>
                                <p>
                                {{ description }}
                                </p>
                            </div>
                            <a :href="link" target="_blank" >Link Application</a>
                        </div>
                    </div>`
        })


        var app = new Vue({
            el: '#app',
            data: {
                form: {
                    name: null,
                    subject: null,
                    message: null,
                    policy: false
                },
                errors: [],
                profile: {
                    name: "Agus Firman",
                    birthdate: "19910603",
                    position: "Fullstack Web Developer",
                    address: " Jl. H. Simun RT.1 RW.5, Srengseng Kec. Kembangan Kota Jakarta Barat Daerah Khusus Ibukota Jakarta 11630",
                    phone: "0859-450-71263",
                    email: "firmanagus59@gmail.com",
                    facebook: "",
                    instagram: "",
                    dribble: "",
                    twitter: "",
                    linkedin: "",
                    linkcv: "https://www.linknya.com",
                    qoute: "Assalamu'alaikum, Saya Agus Firman. Selaku pegiat atau pekerja di bidang teknologi khususnya perancangan WEB aplikasi.</br>Saya selalu berpikir terbuka, luas dan maju  dengan  setiap kemajuan teknologi yang begitu amat cepat dan pesat saat ini, dengan itu saya selalu mengembangkan kemampuan diri akan hal- hal baru."
                },
                skillItems: [{
                        title: "WordPress",
                        percentase: "80%"
                    },
                    {
                        title: "HTML & CSS",
                        percentase: "80%"
                    },
                    {
                        title: "PHP",
                        percentase: "90%"
                    },
                    {
                        title: "Framework Laravel",
                        percentase: "80%"
                    },
                    {
                        title: "Framework Codeigniter",
                        percentase: "70%"
                    },
                ],
                experienceItems: [{
                        company: "Brawijaya Healthcare",
                        title: "Fullstack WEB Developer",
                        description: "Merancang atau membuat aplikasi berbasis WEB mulai dari design database sampai dengan deployment application, terlepas itu saya juga mengerjakan untuk sisi Front-end dan Back-end nya",
                        logo: "./assets/brawijaya.png",
                        start: "Desember 2019",
                        end: "Present"
                    },
                    {
                        company: "RS Grha Kedoya",
                        title: "WEB Developer & System Analys",
                        description: "Merancang atau membuat aplikasi berbasis WEB dan melakukan analisa dan perbaikan setiap permasalahan- permasalahan yang terjadi terkait aplikasi opersional rumah sakit dan meneruskanya ke vendor",
                        logo: "./assets/grhakedoya.png",
                        start: "November 2018",
                        end: "Desember 2019"
                    },
                    {
                        company: "RSIA Grand Family",
                        title: "WEB Developer & Head IT",
                        description: "Merancang atau membuat aplikasi kebutuhan internal dan melakukan analisa dan perbaikan setiap permasalahan- permasalahan yang terjadi terkait aplikasi opersional rumah sakit dan meneruskanya ke vendor serta koordinasi dengan divisi terkait ",
                        logo: "./assets/grandfamily.png",
                        start: "Oktober 2015",
                        end: "November 2018"
                    },
                    {
                        company: "SMK Insan Aqilah (Serang)",
                        title: "Teacher of WEB Design",
                        description: "Memberikan dan merancang KBM siswa untuk mata pelajaran yang berhubungan dengan pemrograman dan networking",
                        logo: "./assets/insanaqilah.png",
                        start: "Oktober 2015",
                        end: "November 2018"
                    },
                ],
                educactionItems: [{
                        institute: "Indonesia Networker",
                        startEnd: "September 2017-Oktober 2017",
                        subject: "Networking Programming"
                    },
                    {
                        institute: "BANTEN JAYA UNIVERSITY",
                        startEnd: "Mei 2010-Mei2015",
                        subject: "Banchelor of Information Technology"
                    },
                    {
                        institute: "Teknoss",
                        startEnd: "Januari 2010-Maret 2010",
                        subject: "MS. Office"
                    }
                ],
                projectItems: [{
                        name: "WEB Portal with Attendance",
                        image: "./assets/images/mockups/portal-web.png",
                        link: "https://portal.brawijayainvestama.com",
                        description: "WEB portal aplikasi yang digunakan untuk karyawan internal mulai dari Head Office sampai dengan unit untuk melakukan absensi secara online dengan fitur current geolocation dari Google Maps dan manfaat Whatsapp Blast untuk notifikasinya "
                    },
                    {
                        name: "Hospital Acquisition Stock",
                        image: "./assets/images/mockups/hospital-acquisitions.jpg",
                        link: "http://139.255.96.149:5011/",
                        description: "WEB aplikasi yang digunakan untuk melakukan transaksi serah terima stock (Stock Opname) terakhir yang dimana aplikasi ini sudah support untuk multi company dan dengan fitur stock freeze (stock tidak akan terecord ketika ada pergerakan"
                    },
                    {
                        name: "Helpdesk Ticketing IT",
                        image: "./assets/images/mockups/helpdesk.jpg",
                        link: "http://portal.brawijayainvestama.com",
                        description: "WEB aplikasi yang digunakan untuk melakukan request perbaikan dari user kepada tim support IT, user bisa melakukan monitorin progress case yang sudah di terima oleh tim IT. Applikasi ini juga sudah support multi company yang dimana ketika proses request ticket bisa langsung mengarahkan ke unit company terkait"
                    },
                    {
                        name: "HR Contract Monitoring",
                        image: "./assets/images/mockups/Internal-Brawijaya.png",
                        link: "http://139.255.96.149:5002/InternalBrawijaya",
                        description: "WEB aplikasi yang digunakan khusus untuk divisi HR terkait kontrak karyawan yang dimana aplikasi ini juga sudah mendukung multi company dan sudah ada reminder kontrak H-30, H-10 menjelang habis kontrak"
                    },
                    {
                        name: "E-Form Legal",
                        image: "./assets/images/mockups/legal.jpg",
                        link: "http://portal.brawijayainvestama.com",
                        description: "WEB aplikasi yang digunakan khusus untuk divisi Legal terkait proses legalitas perusahaan yang dimana dalam aplikasi ini dibagi beberapa type legalitasnya mulai dari dokter, prusahaan , dan opini user"
                    },
                ]
            },
            created() {
                // console.log(this.profile);
                // this.getAge();
            },
            filters: {
                getAge(dob) {
                    var year = Number(dob.substr(0, 4));
                    var month = Number(dob.substr(4, 2)) - 1;
                    var day = Number(dob.substr(6, 2));
                    var today = new Date();
                    var age = today.getFullYear() - year;
                    if (today.getMonth() < month || (today.getMonth() == month && today.getDate() < day)) {
                        age--;
                    }
                    return age + "th";
                }
            },
            methods: {
                mailTo(param) {
                    console.log('OK');
                },
                resetForm() {
                    this.form = {
                        name: '',
                        subject: '',
                        message: '',
                        policy: false
                    };
                },
                submitContact(e) {
                    e.preventDefault();
                    const $form = this.form;
                    this.errors = [];

                    if ($form.name && $form.subject && $form.message) {
                        if ($form.policy) {
                            let subject = $form.subject;
                            let body = encodeURIComponent(
                                `Dear:Agus Firman \nFrom:${$form.name}\n${$form.message}`);
                            window.location.href =
                                `mailto:firmanagus59@gmail.com?subject=${subject}&body=${body}`;
                            this.resetForm();
                        } else {
                            this.errors.push('Please checkeed for to policy  accept.');
                        }
                    }

                    if (!$form.name) {
                        this.errorName = true;
                    }

                    if (!$form.subject) {
                        this.errorSubject = true;
                    }
                    if (!$form.message) {
                        this.errorMessage = true;
                    }
                }
            },
        })
    </script>
</body>

</html>